/* Styles for the about page */
.about-page {
  color: antiquewhite; /* Set text color */
  padding-top: 20px; /* Add padding at the top */
  margin-top: 7rem; /* Add margin at the top */
  transition: 0.9s ease-in-out; /* Add transition effect */
}

/* Styles for the about title */
.about-title {
  display: flex;
  font-size: 3em; /* Set font size */
  justify-content: center; /* Center the text horizontally */
}

/* Styles for the separating line */
.line {
  opacity: 70%; /* Set opacity */
  border-top: 1px solid antiquewhite; /* Add a top border */
  width: 95%; /* Set width */
  margin: 0 auto; /* Center the line horizontally */
}

/* Styles for the adventure image slider container */
.image-slider-container-adventure {
  max-width: 1000px; /* Set maximum width */
  width: 100%; /* Set full width */
  height: 700px; /* Set height */
  margin: 0 auto; /* Center the container horizontally */
  aspect-ratio: 10/6; /* Set aspect ratio for responsive scaling */
  padding: 20px; /* Add padding */
}

/* Styles for adventure headers */
.adventure-header {
  line-height: 0; /* Set line height to 0 for vertical alignment */
  text-align: center; /* Center the text */
  margin: 0; /* Remove margin */
}

/* Styles for the adventure word container */
.adventure-word-container {
  padding-top: 30px; /* Add padding at the top */
}

/* Styles for the sub-title */
.sub-title {
  text-align: center; /* Center the text */
  padding: 2px; /* Add padding */
}

/* Styles for the content wrapper */
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3em; /* Add margin */
}

/* Styles for the introduction text */
.introduction {
  text-indent: 20px; /* Set text indentation */
  text-align: center; /* Center the text */
  padding: 5px; /* Add padding */
  font-size: 1.5em; /* Set font size */
  line-height: 1.5; /* Set line height */
  width: 56ch;
}

/* Styles for the avatar image */
.avt {
  width: 15em; /* Set width */
  border-radius: 50%; /* Add border-radius for rounded corners */
  margin: 2em; /* Add margin */
  animation: moveUpDown 4s linear infinite; /* Add animation */
}

/* Media query for screens up to 800px width */
@media screen and (max-width: 800px) {
  /* Adjust styles for smaller screens */
  .content-wrapper {
    flex-direction: column;
    margin: 1em; /* Adjust margin */
  }

  .avt {
    width: 15em; /* Adjust width */
    border-radius: 50%;
    margin: 2em; /* Adjust margin */
  }

  .introduction {
    font-size: 0.9em; /* Adjust font size */
    width: auto;
    font-weight: 600; /* Set font weight */
  }
}

/* Keyframes for moveUpDown animation */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
