/* Set padding for better spacing in the home page */
.home-page {
  padding: 10px;
  line-height: 90px;
  align-items: center;
  padding-top: 25px;
  transition: 0.9s ease-in-out;
}

/* Style for the title section */
.title-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-link-home{
  text-decoration: none;
}


/* Styles for the title container */
.home-title {
  flex: 1;
  max-width: 100%; /* Adjust the maximum width of the title */
  text-align: center;
  padding: 10px;
}

/* Style for the name in the title */
.name {
  font-size: 5em;
  color: antiquewhite; /* Adjust the font size as needed */
  animation: fadeIn 2s ease;
  transition: 0.2s ease-out;
}

.name:hover{
  transform:translateY(-20px);
  transition: 0.3s ease-in-out;
}



/* Styles for the profile picture container */
.profile-picture {
  flex: 1;
  padding-top: 40px;
  max-width: 40%; /* Adjust the maximum width of the image */
  margin-top: 2em; /* Add margin to separate the image from the title */
  animation: fadeIn2 2s ease;
}

/* Styles for the profile picture */
.profile-picture img {
  max-width: 90%;
  height: auto;
  border-radius: 50%; /* Add border-radius for rounded corners */
  box-shadow: 5px 0 10px rgba(255, 255, 255, 0.137);
}

/* Styles for paragraphs */
.traits {
  font-size: 2em;
  margin: 0;
  line-height: 0;
  font-weight: bold;
  color: antiquewhite;
}

/* Media query for screens up to 800px width */
@media screen and (max-width: 800px) {
  /* Adjust the layout for smaller screens */
  .title-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 4em; /* Adjust the font size as needed */
  }

  /* Adjust the maximum width of the image for smaller screens */
  .profile-picture {
    padding-top: 0;
    flex: 1;
    max-width: 80%;
    margin-top: 80px;
  }

  /* Adjust the styles for the profile picture on smaller screens */
  .profile-picture img {
    max-width: 75%;
    margin-top: 1em;
    height: auto;
    box-shadow: none;
  }
}

/*Fade in from top down  (I have PTSD about DP) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(
      -40px
    ); /* Optional: Add a slight upward translation */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Fade in from bottom up (I have PTSD about DP)*/
@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(40px); /* Optional: Add a slight upward translation */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
