.contact-line{
    opacity: 70%;
      border-top: 1px solid antiquewhite;
      width: 95%;
      margin: 0 auto;
  }

  .contact-page{
    transition: 0.4s ease;
    margin-bottom: 200px;
  }

  .contact-title {
    display: flex;
    font-size: 3em;
    justify-content: center;
  }

  .form-container{
    display: flex;
    justify-content: center;
  }

  .form{
    width: 100%; /* Adjusted width */
    max-width: 600px;
  }

input[type="submit"] {
    background-color: #4caf50;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

textarea {
    resize: vertical;
}

input,
textarea {
    font-size: 1em;
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #dddddd;
}

.connection-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.connection-icon{
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
    transition: 0.2s ease-in-out;
}

.connection-icon:hover{
    transform: translateY(-5px);
}

form {
    margin-top: 10px;
    background-color: #252222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#announce{
    text-align: center;
    font-size: 2rem;
    background-color: none;
    transition: 0.2s ease;
    animation: fadeIn 1s ease-in-out;
    border-radius: 5px;
    width: 20%;  
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(
        -40px
      ); /* Optional: Add a slight upward translation */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 800px){
    
  }
  
