/* Styles for the header */
.header {
  background-color: rgba(
    0,
    0,
    0,
    100
  ); /* Set background color for the header */
  padding: 0.5%;
  z-index: 999;
  top: 0;
  animation: fadeIn 0.8s ease; /* Fade in animation */
  position: sticky;
}

/* Styles for the hamburger menu icon */
.hamburger-menu {
  display: none; /* Hide hamburger menu by default */
  cursor: pointer; /* Indicate that it's clickable */
}

/* Styles for the navigation menu */
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly; /* Space out the icons evenly */
  margin: 0;
  margin-top: 0.4rem;
  padding: 0;
}

/* Styles for the logos */
.homeLogo,
.aboutLogo,
.contactLogo,
.skillLogo {
  width: 30px; /* Set width for the logos */
  opacity: 80%;
  transition: 0.3s ease;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg)
    brightness(102%) contrast(102%);
}

/* Styles for logo hover effect */
.homeLogo:hover,
.aboutLogo:hover,
.contactLogo:hover,
.skillLogo:hover {
  width: 30px; /* Set width for the logos */
  opacity: 100%;
  transition: 0.3s ease;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Media query for responsive design */
@media screen and (max-width: 800px) {
  .header {
    background-color: rgba(0, 0, 0, 0.849);
    opacity: 100%; /* Make sure the hamburger is always visible */
    position: sticky;
  }

  /* Styles for the hamburger menu on smaller screens */
  .hamburger-menu {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    display: flex; /* Show hamburger menu for smaller screens */
    justify-content: left;
    font-size: 2rem;
    filter: grayscale(100%) brightness(200%) contrast(100%) saturate(0%)
      sepia(0%);
  }

  /* Hide the regular menu for smaller screens */
  .nav-menu {
    display: none;
  }

  /* Styles for logos on smaller screens */
  .homeLogo,
  .aboutLogo,
  .contactLogo,
  .skillLogo {
    margin-bottom: 1rem;
    opacity: 65%;
  }

  /* Logo hover effect on smaller screens */
  .homeLogo:hover,
  .aboutLogo:hover,
  .contactLogo:hover,
  .skillLogo:hover {
    opacity: 100%; /* Change the opacity on hover */
    transform: translateY(-5px); /* Move the icon 5 pixels upward on hover */
  }

  /* Show the menu for smaller screens */
  .nav-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    animation: fadeIn 0.5s ease;
  }
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
